/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  -webkit-font-smoothing: antialiased; }

/* COLOR VARIABLES */
body {
  background: #0E58D1;
  font-family: "Karla", sans-serif; }

/* TYPOGRAPHY */
a {
  text-decoration: none;
  transition: all 0.3s ease; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 30px; }

h2 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 31px; }

h3 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase; }

h4 {
  font-family: "Karla", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 10px; }

p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5; }

.hero {
  background: #0E58D1;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px; }
  .hero a {
    color: #EDE719; }
    .hero a:visited {
      color: #EDE719; }
    .hero a:hover {
      color: #0E58D1;
      background: #EDE719; }
  .hero .blockquote {
    font-family: 'Tillana', cursive;
    font-weight: 500;
    border-left: 2px solid #EDE719;
    padding-left: 20px;
    font-style: italic;
    color: #EDE719;
    margin: 20px 20px; }
  .hero .blockquote p {
    display: inline; }
  .hero .button {
    padding: 11px 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #EDE719;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase; }
  .hero .button-btm {
    padding: 11px 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #EDE719;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    background: #0E58D1;
    color: #EDE719; }
  .hero .button-btm:hover {
    transition: all 0.3s ease;
    color: #0E58D1;
    background: #EDE719; }
  .hero .button-li {
    padding: 11px 22px;
    border-style: solid;
    border-width: 2px;
    border-color: #EDE719;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200; }
  .hero .button-cv {
    padding: 11px 22px;
    margin-top: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #EDE719;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase; }
  .hero .icon-skills {
    display: block;
    margin: 10px;
    margin-bottom: -8px; }

.card {
  background-color: #0C50BF; }

.card-block {
  padding: 10%; }

#adventure {
  background-image: url("https://lh3.googleusercontent.com/aT06TNKHgPEZezNmaz172MCdh36p3s8K6rA6w6IfhIpbx7cFpH4Y1kbaFBROYqvaUtIsyaCpNmJ5JC1u0NSFMV5U_eGrY1KorgzVwS4D0wLc_yq9wVYs7uR6A4U3qXcmfSalAmpxeiCqIyd-FxlK-IH-6RLD79liVc6jIx0cVrwwI4BpF-Yt9rVkpQPZErhGObZ-BxhX_F-x9UpNvDr6VBJc7FIFElSbdkS2JuFc79dcsPyEgg7o9Pmgd-w1-PCWQvZyNjc0ar9DhUTVkBbP68JOle-tg3a6DcumiEPQemaTBjA4qe6dxgnaeyaBAseaCByG-XzydhtNWcVDPvZfPBmswAaf1vm2n4Azar7jQ7_u943mAMim9Brbtl-nNNmy1fRkk-QZ6ljStxu7y8xTYF8CcR2NiaFsXVVEH2zHTfKonYIffHYiuXYyCrVZgqyuI8jcFpZGJgxbt7hTU4rzakaS2NKLyqlTKB2VVocF44d_OQzwJFCjRoXlLOQqWcZaTuooF8TfistYx2mGegLKtOPfDZuSLSJoPdU8cZFIvZTZC0KBGJ2mhHeueEFEesLw8rfmsQSVymJthQoUH03lybZpPPqLrSa8n4ZXcuwFGsDCEypCpQ=w1702-h1276-no");
  background-color: #0C50BF;
  background-blend-mode: color-dodge;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.1); }

footer {
  background: #dcfeff;
  padding-bottom: 20px;
  padding-top: 29px;
  padding-left: 25px;
  width: 100%; }
  footer a {
    color: #0E58D1; }
    footer a:visited {
      color: #0E58D1; }
    footer a:hover {
      color: #0E58D1;
      background: #EDE719; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      display: inline;
      color: #0E58D1;
      font-family: "Karla", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      list-style-type: none; }
      footer ul li:before {
        content: "";
        height: 0px;
        width: 0px; }
      footer ul li:first-child:before {
        content: none; }
  footer .chat {
    width: 20px;
    height: 20px;
    display: none; }

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .hero {
    margin-bottom: 110px;
    margin-top: 110px; }

  footer {
    background: #dcfeff;
    width: 100%; }
    footer ul li {
      display: inline-block;
      margin: 0px 5px;
      position: relative;
      color: #0E58D1;
      font-family: "Karla", sans-serif;
      font-weight: 500;
      font-size: 18px;
      padding-top: 5px;
      right: 25px; }
      footer ul li:before {
        content: "";
        height: 0px;
        width: 0px; }
      footer ul li:first-child:before {
        content: none; }
    footer .chat {
      width: 20px;
      height: 20px;
      display: inline-block; } }
#kiaOra.myPhoto:hover {
  transform: scale(1.1);
  transform-origin: center;
  background: url("https://s3.amazonaws.com/codyiddings-2016/myPhoto.png"); }

@media (max-width: 992px) {
  .dot-head {
    margin-top: 50px; } }

.codys-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 240px;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }

.dot-head:hover .codys-head {
  opacity: 1; }

.input [type=submit] {
  color: #EDE719;
  background: #0E58D1; }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em 1em 1em 0;
  width: calc(100% - 2em);
  vertical-align: top; }

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__field:focus {
  outline: none; }

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0 0 0;
  width: 100%;
  margin-top: 1em; }

/* Hoshi */
.input--hoshi {
  overflow: hidden; }

.input__field--hoshi {
  margin-top: 1em;
  padding: 0.5em 0.15em 1em 0.15em;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 24px; }

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100%);
  text-align: left;
  pointer-events: none; }

.input__label-content--hoshi {
  position: absolute; }

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  border-bottom: 1px solid #B9C1CA; }

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.input__label--hoshi-color-1::after {
  border-color: #00aaff; }

.input__label--hoshi-color-2::after {
  border-color: #EDE719; }

.input__label--hoshi-color-3::after {
  border-color: #ff5500; }

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.input__field--hoshi + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  opacity: 0.5; }

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #EDE719;
  opacity: 1; }

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
