

  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

  html {
    -webkit-font-smoothing: antialiased;
  }

/* COLOR VARIABLES */
$white: #fff;
$green: #6fde89;
$dark-grey: #151515;
$light-blue: #dcfeff;
$blue: #0E58D1;
$yellow: #EDE719;
$dark-blue: #0C50BF;


//fonts
$karla: 'Karla', sans-serif;;


body {
  background: $blue;
  font-family: $karla;
}



/* TYPOGRAPHY */
a {
  text-decoration: none;
  transition: all 0.3s ease;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    
  }
}

h1 {
  font-family: $karla;
  font-weight: 700;
  font-size: 31px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  font-family: $karla;
  font-weight: 700;
  font-size: 31px;
}

h3 {
  font-family: $karla;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

h4 {
  font-family: $karla;
  color: rgba($white,.5);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 10px;
}

h4.attribution {
  padding-left: 60px;
  margin-top: -55px;
  display: block;
}

p {
  font-family: $karla;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $karla;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  -moz-column-count: 2;
  -moz-column-gap: 3%;
  -webkit-column-count: 2;
  -webkit-column-gap: 3%;
  column-count: 2;
  column-gap: 3%;
}

ul.c {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $karla;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.hero {
  background: $blue;
  color: white;
  margin-bottom: 5%;
  margin-top: 5%;

  a {
    color: $yellow;

    &:visited {
      color: $yellow;
    }
    &:hover {
      color: $blue;
      background: $yellow;
    }
  }

.quotes {
  padding-bottom: 5%;
}

.blockquote {
  font-family: $karla;
  font-weight: 500;
  border-left: 2px solid $yellow;
  padding-left: 20px;
  font-style: italic;
  color: $yellow;
  margin: 20px 24px;
}
 
 .blockquote p {
  display: inline;
}


.button {
  padding: 11px 22px;
  border-style: solid;
  border-width: 2px;
  border-color: $yellow;
  display: inline-block;
  font-family: $karla;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.button-btm {
  padding: 11px 22px;
  border-style: solid;
  border-width: 2px;
  border-color: $yellow;
  display: inline-block;
  font-family: $karla;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 30px; 
  background: $blue;
  color: $yellow;

}
  .button-btm:hover {
      transition: all 0.3s ease;
      color: $blue;
      background: $yellow;
    }

.button-li {
  padding: 11px 22px;
  border-style: solid;
  border-width: 2px;
  border-color: $yellow;
  display: inline-block;
  font-family: $karla;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.button-cv {
  padding: 11px 22px;
  margin-top: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: $yellow;
  display: inline-block;
  font-family: $karla;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

  .icon-skills {
    display: block;
    margin: 10px;
    margin-bottom: -8px;
  }
}

.card {  
  background-color: $dark-blue;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card-block {  
  padding: 10%;
}


.workfirst {  
  background-color: $dark-blue;
  padding: 10% 5% 10% 5%;
}

.work {  
  background-color: $dark-blue;
  padding: 10% 5% 10% 5%;
  margin-top: 10px;
}

.worklast {  
  background-color: $dark-blue;
  padding: 10% 5% 10% 5%;
  margin-top: 10px;
  margin-bottom: 5%;
}

  .selection {  
  height: 300px;
  padding-top: 5%;
}

.user {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhGAAAAJGFiNjdlODU1LTBkMzYtNDMzMy1hMGJiLWFlZDc4MGVkYzgxMw.jpg');
}

.two {
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwjAAAAJDhhOTkxZDg5LWE2YTUtNGNmOC1hOGIzLTIzNmQyNzgyNGNmZQ.jpg');
}

.three {
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAldAAAAJDE5NDRkYmY3LWEzM2ItNDI2Yy05ODQ4LThlOGI3NjI5N2RhMQ.jpg');
}

#adventure {
  background-image: url('https://s3.amazonaws.com/codyiddings-2016/Opononi.JPG');
  background-color: $dark-blue;
  background-blend-mode: color-dodge;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.1);
}





footer {
  background: $light-blue;
  padding-bottom: 20px;
  padding-top: 29px;
  padding-left: 25px;
  width: 100%;
  a {
    color: $blue;    
    &:visited {
      color: $blue;
    }
    &:hover {
      color: $blue;
      background: $yellow;
    }
  }

  ul.b {
    padding-left: 0;
    li {
      display: inline;
      color: $blue;
      font-family: $karla;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      list-style-type: none;
      &:before {
          content: "";
          height: 0px;
          width: 0px;
        }
        &:first-child {
          &:before {
            content: none;
          }
        }
    }
  }
  .chat {
  width: 20px;
  height: 20px;
  display: none;
  }
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .selection {  
  height: 300px;
  padding-top: 0;
  }

  ul.c {
  li {
  display: inline-block;
  &:before {
          content: "";
          height: 0px;
          width: 0px;
          padding-left: 20px;
        }
        &:first-child {
          &:before {
            content: none;
          }
        }
  }
}
}


@media (min-width: 992px) {

  h1 {
      font-size: 52px;
  }

  .hero {
  margin-bottom: 110px;
  margin-top: 110px;
}

  .selection {  
  height: 500px;
  padding-top: 0;
}

  .shaloha {  
  padding-top: 0;
}

  footer {
    background: $light-blue;
    width: 100%;

    ul.b {
      li {
        display: inline-block;
        margin: 0px 5px;
        position: relative;
        color: $blue;
        font-family: $karla;
        font-weight: 500;
        font-size: 18px;
        padding-top: 5px;
        right: 25px;
        &:before {
          content: "";
          height: 0px;
          width: 0px;
        }
        &:first-child {
          &:before {
            content: none;
          }
        }
      }
    }
    .chat {
  width: 20px;
  height: 20px;
  display: inline-block;
  }
  }

} // End MQ 992px





.dot-map{
  //@extend .center-block;
}

#kiaOra.myPhoto:hover { 
  transform: scale(1.1);
  transform-origin: center;
  background: url('https://s3.amazonaws.com/codyiddings-2016/myPhoto.png');
}

.dot-head{

  @media (max-width: 992px) {
    margin-top: 50px;
  }
}

.codys-head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 240px;
  opacity: 0;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.dot-head:hover .codys-head{ 
  opacity: 1;
}




.input [type=submit] {
    color: $yellow;
    background: $blue;
  }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em 1em 1em 0;
  //max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: $karla;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}


.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: $white;
  //opacity: 0.7;
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0 0 0;
  width: 100%;
  margin-top: 1em;
}

/* Hoshi */
.input--hoshi {
  overflow: hidden;
}

.input__field--hoshi {
  margin-top: 1em;
  padding: 0.5em 0.15em 1em 0.15em;
  width: 100%;
  background: transparent;
  color: $white;
  font-size: 24px;

}

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100%);
  text-align: left;
  pointer-events: none;
}

.input__label-content--hoshi {
  position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
  border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
  border-color: $yellow;
}

.input__label--hoshi-color-3::after {
  border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--hoshi + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi{
  opacity: 0.5;
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: $yellow;
  opacity: 1;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

